<div class="page-dashboard">
  <mt-total-startups class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></mt-total-startups>
  <mt-total-subscribers class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></mt-total-subscribers>
  <mt-total-ads class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></mt-total-ads>
  <mt-total-startup-submissions class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"></mt-total-startup-submissions>
  <mt-all-startups class="col-12" (action)="actionAllStartups($event)"></mt-all-startups>
  <mt-all-subscribers class="col-12" (action)="actionAllSubscribers($event)"></mt-all-subscribers>
  <mt-all-ads class="col-12" (action)="actionAllAds($event)"></mt-all-ads>
</div>
