// Variables
@import "../../scss/variables";

:host {
  display: flex;
}

.btn-two {
  display: flex;
  flex: 1;
  color: #fff;
  background-color: $color-one;
  border: 0.125rem solid transparent;
  outline: none;
  box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
  margin: 0 auto;
  transition: box-shadow 0.3s ease;
  border-radius: 0.25rem;
  cursor: pointer;
  justify-content: center;
  text-align: center;
}

.btn-two:active, .btn-two:focus {
  border: 0.125rem solid transparent;
  outline: none;
}

.btn-two:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}
