// Variables
@import "../../scss/variables";

// Footer
.footer {
  display: flex;
  color: grey;
  font-size: 14px;
  margin-bottom: 40px;
  padding-top: 20px;
  a {
    color: grey;
    text-decoration: none;
    cursor: pointer;
  }

  a:hover {
    text-decoration: underline;
  }

  .copywright {
    padding: 10px;
    text-align: center;
    /*border-top: 1px solid $color-one;*/
  }

  .mithilatech {
    background-repeat: repeat-x;
    background-image: linear-gradient(60deg, #7f36b5, #08a1ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .heart {
    color: red;
    animation: animate-heart 2.5s infinite;
  }

  @keyframes animate-heart {

    0% {
      transform: scale(1);
    }
    5% {
      transform: scale(1.2);
    }
    10% {
      transform: scale(1.1);
    }
    15% {
      transform: scale(1.25);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(1);
    }
  }
}
