<div class="container-fluid">
  <div class="footer row">
    <div class="copywright w-100">
      <div class="col-xs-12">
        <a routerLink="countries">Countries</a> .
        <a routerLink="privacy-policy">Privacy Policy</a> .
        <a routerLink="tos">Terms of Service</a> .
        <a routerLink="advertise">Advertise</a> .
        <a href="https://fb.me/rachnaio" target="_blank"><i class="fa fa-facebook"></i> Facebook</a> .
        <a href="https://twitter.com/RachnaStartups" target="_blank"> <i class="fa fa-twitter"></i> Twitter</a>
      </div>
      <div class="col-xs-12">&copy; {{today | date:'y'}} rachna.io</div>
      <div class="col-xs-12">
        Carefully handcrafted with <i class="fa fa-heart heart"></i> in
        <a href="https://en.wikipedia.org/wiki/Boston"
           target="_blank">Boston</a> by
        <a href="https://mithila.io/"
           target="_blank">
          <span class="mithilatech">mithila</span>
        </a>
      </div>
    </div>
  </div>
</div>
