<div class="frm-ad w-100">
  <h3>{{title}} Ad</h3>
  <form (ngSubmit)="f.form.valid && submit(f);" #f="ngForm" novalidate>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Description</label>
      <div class="editor-wrapper ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <mt-editor [ngClass]="{ 'validation-error': f.submitted && !desc.valid }" name="desc" [(ngModel)]="model.desc"
                   #desc="ngModel" required>
        </mt-editor>
      </div>
    </div>

    <div *ngIf="mode != 'submit'" class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Status</label>
      <select name="status" #status="ngModel" [(ngModel)]="model.status"
              [ngClass]="{ 'validation-error': f.submitted && !status.valid }"
              class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
              required>
        <option value="0" disabled selected>Choose Status</option>
        <option *ngFor="let status of statuses" [value]="status.value">
          {{status.display}}
        </option>
      </select>
    </div>

    <mt-btn-two class="ml-auto mr-auto col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="loading" class="sr-only">Loading...</span>
      <span *ngIf="!loading">Submit</span>
    </mt-btn-two>

    <label *ngIf="!loading && success"
           class="lbl-alert success ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">
      Your request has been submitted.
    </label>

    <label *ngIf="!loading && !success && clientValidationDone"
           class="lbl-alert danger ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">
      Some error occurred.
    </label>

  </form>
</div>
