// Variables
@import "../../scss/variables";

:host {
  display: flex;
}

.frm-ad {

  padding-top: 28px;

  .validation-error {
    background-color: rgba(255, 0, 0, 0.09);
  }

  form {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .lbl-input{
    font-size: 12px;
    font-weight: 100;
    display: flex;
    justify-content: left;
    padding-left: 2px;
    margin-bottom: 2px;
  }

  .lbl-alert {
    text-align: center;
    font-size: 12px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  h3 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
    font-weight: 100;
  }

  .cs-input {
    margin-bottom: 20px;
    height: 40px;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    color: $grey;
  }

  // Form Controls
  .cs-input, textarea, .editor-wrapper {
    display: flex;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    margin-bottom: 20px;
  }

  .editor-wrapper {
    height: 100%;
    background-color: white;
    padding: 0;
  }

  .cs-input:focus {
    outline: 0;
  }

  .cs-input {
    height: 34px;
  }

  .success {
    color: green;
  }

  .danger {
    color: tomato;
  }

}
