@import "../../scss/variables";

.navbar {
  display: flex;

  .right {
    display: flex;
    align-items: center;

    .list-item {
      margin-left: 10px;
    }

    a {
      color: grey;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .navbar-brand {
    cursor: pointer;
    outline: none;
    color: $color-one;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    line-height: 67px;
  }

  .fa-bars {
    color: $color-one;
    cursor: pointer;
  }

  .right {
    display: none;
  }

  .fa-bars {
    display: flex;
  }

  @media all and (min-width: 575px) {
    .right {
      display: flex;
    }

    .fa-bars {
      display: none;
    }
  }
}
