<nav class="navbar fixed-top">

  <div class="navbar-brand col-auto mr-md-auto mr-lg-auto mr-xl-auto" routerLink="/">rachna</div>
  <!--<mt-search-box (searchChangeEmitter)="doSomething();" class="col-sm-12 col-md-auto ml-md-auto ml-lg-auto ml-xl-auto"></mt-search-box>-->
  <div class="right">
    <div class="list-item"><i class="fa fa-home"></i><a routerLink="/"> Home </a></div>
    <div class="list-item"><i class="fa fa-globe"></i><a routerLink="/countries"> Countries</a></div>
    <mt-btn-one class="col-auto ml-sm-auto ml-md-auto ml-lg-auto ml-xl-auto" routerLink="startup/submit">Submit Startup
    </mt-btn-one>
  </div>

  <i class="fa fa-bars col-auto ml-sm-auto ml-md-auto ml-lg-auto ml-xl-auto" (click)="toggleSidebar($event);"></i>

</nav>
