@import "../../scss/variables";

.navbar-2 {
  display: flex;
  background-color: white;
  box-shadow: 1px 2px 4px 0px rgba(46, 61, 73, 0.2);
  transition: 0.5s;

  .hamburger {
    display: inline-block;
    cursor: pointer;

    .bar1, .bar2, .bar3 {
      width: 35px;
      height: 1px;
      background-color: $color-one;
      margin: 10px 0;
    }

  }

  .logout {
    height: 40px;
    width: 40px;
    border: 1px solid $color-one;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    color: $color-one;
  }

  .fa-bars {
    color: $color-one;
    cursor: pointer;
  }

  .fa-bars {
    display: flex;
  }
}
