<nav class="navbar navbar-2 navbar-light fixed-top">

  <div class="hamburger" (click)="toggleSidebar($event)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
  </div>

  <div class="logout" (click)="logout();">
    <i class="fa fa-power-off"></i>
  </div>

</nav>
