:host {
  z-index: 10;
  width: 100%;
  height: 100%;

  /deep/ .ql-container {
    border: none;
  }

  /deep/ .ql-toolbar {
    border: none;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-bottom: 1px solid #ccc;
  }
}

