<div class="page-home">
  <mt-title></mt-title>

  <mt-all-startups-cards status="PROMOTED"></mt-all-startups-cards>

  <mt-all-startups-cards status="PUBLISHED" [today]="'true'"></mt-all-startups-cards>

  <mt-all-startups-cards status="PUBLISHED"></mt-all-startups-cards>

  <div class="ad col-12">
    <mt-ad class="col-sm-12 col-xs-12 col-md-8 col-lg-8 col-xl-8 ml-auto mr-auto"></mt-ad>
  </div>

  <div class="newsletter col-12">
    <mt-frm-newsletter class="col-sm-12 ml-auto mr-auto"></mt-frm-newsletter>
  </div>

</div>
