.recommendations {
  margin-top: 50px;
  padding-top: 50px;

  mt-spinner-one /deep/ .spinner-one {
    padding-bottom: 50px;
  }

  background-color: #06273b;

  .startup-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
  }
}
