<div class="recommendations">
  <mt-spinner-one *ngIf="loading" lbl="recommendations"></mt-spinner-one>

  <div class="startup-container">
    <mt-startup-card class="col-12 col-md-4 col-lg-3 col-xl-3 col-sm-6" *ngFor="let startup of startups"
                     [startup]="startup"></mt-startup-card>
  </div>
</div>
