<div class="frm-login w-100">
  <h3>Login</h3>
  <form (ngSubmit)="f.form.valid && login();" #f="ngForm" novalidate>

    <input type="email"
           class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
           placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel" required
           email>

    <input type="password"
           class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
           placeholder="Password" name="password" [(ngModel)]="model.password" #password="ngModel" required
           pattern="^.{8,50}$">

    <mt-btn-two class="ml-auto mr-auto col-sm-12 col-md-3 col-lg-3 col-xl-3">Sign In</mt-btn-two>

  </form>
</div>
