// Variables
@import "../../scss/variables";

:host {
  display: flex;
}

.frm-login {

  padding-top: 28px;

  .validation-error {
    background-color: rgba(255, 0, 0, 0.09);
  }

  form {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  h3 {
    text-align: center;
    font-size: 35px;
    padding-bottom: 15px;
    font-weight: 100;
  }

  .cs-input {
    margin-bottom: 20px;
    height: 40px;
  }

  label {
    text-align: center;
    font-size: 12px;
    font-weight: 100;
  }

  label:first-of-type {
    margin-top: 10px;
  }

  a {
    cursor: pointer;
    text-decoration: underline;
    color: $grey;
  }

  // Form Controls
  .cs-input {
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
  }

  .cs-input:focus {
    outline: 0;
  }

  .cs-input {
    height: 34px;
  }

}
