<a *ngIf="fb" [href]="fb" target="_blank">
  <i class="fa fa-facebook"></i>
</a>

<a *ngIf="twitter" [href]="twitter" target="_blank">
  <i class="fa fa-twitter"></i>
</a>

<a *ngIf="googlePlus" [href]="googlePlus" target="_blank">
  <i class="fa fa-google-plus"></i>
</a>

<a *ngIf="linkedIn" [href]="linkedIn" target="_blank">
  <i class="fa  fa-linkedin"></i>
</a>

<a *ngIf="instagram" [href]="instagram" target="_blank">
  <i class="fa fa-instagram"></i>
</a>

<a data-toggle="popover" data-placement="bottom">
  <i class="fa fa-share"></i>
</a>

<div class="popover-content hide">
  <a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}&amp;src=sdkpreparse" target="_blank">
    <i class="fa fa-facebook"></i>
  </a>

  <a href="https://twitter.com/intent/tweet?text={{shareUrl}}" target="_blank">
    <i class="fa fa-twitter"></i>
  </a>

  <a href="https://plus.google.com/share?url={{shareUrl}}" target="_blank">
    <i class="fa fa-google-plus"></i>
  </a>
</div>
