:host {
  display: flex;
  justify-content: center;
}

a, i {
  color: grey;
  cursor: pointer;
}

a:hover, i:hover {
  color: #aaa;
}

a:not(:first-child) {
  margin-left: 20px;
}

.hide {
  display: none;
}


