// Variables
@import "../../scss/variables";

.title-country {
  padding-top: 100px;
  padding-bottom: 50px;
  .main-title {
    text-align: center;
    font-size: 38px;
  }

  .pipe {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    border-right: 1px solid $color-one;
  }
}
