// Opacity
$opacity-one: 0.55;
$opacity-two: 0.85;
$opacity-three: 0.97;

// Padding
$padding-one: 10px;

// Margin
$margin-one: 10px;

// Font size
$font-size-one: 18px;

// Font Family
$font-family-one: 'Quicksand', sans-serif;

// Font weight
$font-weight-one: 300;

// Colors
$color-one: #AD73C8;
$color-two: #F15422;
$color-three: #708090;
$color-four: #F65A5B;
$color-five: #02b3e4;
$color-six: #3ECD92;
$color-seven: #dbe2e8;
$color-eight: #333;
$color-nine: #525252;
$color-ten: #FE5151;
$color-eleven: #fafbfc;
$color-codestreet: #F49517;
$color-jaanaki: #02b3e4;
$color-newshq: #3ECD92;
$color-polarharbor: #7f36b5;
$color-mithila-foundation: grey;
$color-mithila-ventures: #FF9B73;
$color-newshq-headlines: #F49517;
$color-primary-btn-hover: #F47B10;
$color-secondary-btn-hover: #14CA7F;
$mithila-primary-color: #3ECD92;
$red: red;
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$dark-grey: #E6E7E8;
$light-grey: #f2f2f2;
$grey: grey;
$color-light-black: #222;
$color-body-bg: #f2f2f2;

// Material app theme
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$candy-app-primary: mat-palette($mat-indigo);
$candy-app-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$candy-app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);
