.startup-card {
  margin-bottom: 50px;
  margin-left: 15px;
  margin-right: 15px;
  flex-direction: column;
  background-color: white;
  transition: box-shadow 0.3s ease, border 0.3s ease;
  box-shadow: rgba(46, 61, 73, 0.14902) 12px 15px 20px 0px;
  border-radius: 6px;
  padding-bottom: 15px;

  .flag {
    position: absolute;
    top: 10px;
    right: 40px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 50%;

    .flag-icon {
      font-size: 30px;
      border-radius: 50%;
      transition: box-shadow 0.3s ease;
      box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, .15);
    }

    .flag-icon:hover {
      box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    }
  }

  img {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    max-height: 200px;
  }

  .body {
    padding: 10px 10px 0 10px;
    text-align: center;

    .name {
      font-weight: bold;
    }

    mt-btn-two {
      margin-bottom: 1rem;
    }
  }
}

.startup-card:hover {
  box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
}
