<div class="startup-card">
  <div class="mt-img">
    <mt-spinner-two *ngIf="imgLoading" lbl="image" class="col-4 ml-auto mr-auto"></mt-spinner-two>
    <img src="{{startup.imgUrlSmall}}" (load)="onLoad()" [hidden]="imgLoading">
    <div *ngIf="startup.country" class="flag" (click)="goToCountry()">
      <span class="flag-icon flag-icon-{{startup.country | lowercase}} flag-icon-squared"></span>
    </div>
  </div>
  <div class="body">
    <p class="name">{{startup.name}}</p>
    <p class="subTitle">{{startup.subTitle}}</p>
    <mt-btn-two class="col-8 ml-auto mr-auto" [routerLink]="['/startups', startup.id]">More Details</mt-btn-two>

    <mt-social url="https://rachna.io/startups/{{startup.id}}" [fb]="startup.fbUrl" [twitter]="startup.twitterUrl"
               [googlePlus]="startup.googlePlusUrl" [instagram]="startup.instagramUrl"
               [linkedIn]="startup.linkedInUrl" class="ml-auto mr-auto"></mt-social>
  </div>
</div>

