<div class="page-advertise">
  <h1>Advertise on Rachna</h1>
  <h2>Reach thousands of early adopters.</h2>
  <div class="desc col-md-6 col-lg-6 col-xl-6 col-lg-6 ml-auto mr-auto">
    Rachna is one of the fastest growing sites focused specifically at early stage startups that have potential to
    become big. We’ve got an audience of thousands of early adopters and startup founders coming to the website.
  </div>

  <h4>If you would like to advertise  on Rachna, please send us an email at <a href="mailto:letstalk@rachna.io">letstalk@rachna.io</a></h4>

</div>
