// Variables
@import "../../scss/variables";

.page-advertise {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;

  h1, h4,h2 {
    text-align: center;
  }

  .desc, h4, h2 {
    margin-top: 40px;
  }

  a{
    color: $color-one;
  }

}

