// Variables
@import "../../scss/variables";

:host {
  display: flex;
  align-items: center;
}

button {
  border-radius: 2em;
  outline: none;
  border: 1px $color-one solid;
  background-color: $color-body-bg;
  cursor: pointer;
  padding: 0 1em;
  color: #777;
  transition: all 0.4s;
  height: 40px;
}

button:hover {
  background-color: $color-one;
  opacity: 0.4;
  color: white;
}
