<div class="page-privacy-policy row">
  <div class="col-md-8 col-lg-8 ml-auto mr-auto privacy-content">
    <h3>Privacy Policy</h3>
    <h5 class="update-notice">These Privacy Policies were last updated on October 9, 2017.</h5>
    <p>
      All capitalized terms used and not otherwise defined herein shall have the meaning ascribed to them in
      Rachna's <a routerLink="/tos">TOS</a>.
    </p>
    <p>
      Any version of this Privacy Policy in a language other than English is provided for convenience and you
      understand and agree that the English language will control if there is any conflict.
    </p>
    <p>
      You are contracting with Rachna.io. ("Rachna", "We", "Us", or "Our"). Rachna respects Your rights
      regarding Your privacy and personal information, and We provide this Privacy Policy ("Privacy Policy") to help You
      understand how We collect, use, share, store and disclose information We obtain from or about You when You use the
      Services. This Privacy Policy applies to Your use of the Services. As used herein the term "use" shall mean use,
      access, install, sign into, connect with, download, visit or browse the Services. Additionally, any information
      relating to taking Courses, including, without limitation, interchanges with the Course instructors, other
      Students, answers, essays and other items submitted to satisfy the Course requirements, is referred to as "Course
      Information." Rachna allows You to enroll in and take online Courses on a variety of topics which are taught
      by Instructors.
    </p>
    <p>
      This Privacy Policy also describes the choices available to You regarding the use of, Your access to and how to
      update and correct Your personal information.
    </p>
    <p>
      THIS IS A LEGALLY BINDING AGREEMENT BETWEEN YOU AND RACHNA, AND BY USING THE SERVICES, YOU AGREE TO THE TERMS
      OF THIS AGREEMENT. You should review this Privacy Policy in conjunction with Our <a routerLink="/tos">Terms of
      Service</a> and any other agreement or policy provided by Us that governs Your use of the Services.
    </p>
    <p>
      You should not use the Services if You do not agree with this Privacy Policy, Our <a routerLink="/tos">Terms of
      Service</a> and any other agreement or policy that governs Your use of the Services.
    </p>
    <ol>
      <li>
        <div>The Scope of this Privacy Policy and the Covered Sites</div>
        <p>
          This Privacy Policy is applicable worldwide and applies to Our Services where We provide a link to this
          Privacy Policy, unless otherwise stated or unless We provide a link to a different policy. All Services will
          contain a prominent link to this Privacy Policy on or near the homepage of Our site or through a pop-up window
          on any mobile and/or other Internet connected devices ("Wireless Devices") where possible.
        </p>
        <p>
          This Privacy Policy applies to information that We collect online through use of the Services.
        </p>
        <p>
          The Services may contain links to Third Party Platforms. If You use Our Services on or through a Third Party
          Platform, including via any Wireless Devices, Your privacy will also be subject to the privacy policies and
          terms of service of the Third Party Platform.
        </p>
        <p>
          We do not control and are not responsible for the terms of service, privacy policies and/or practices of any
          Third Party Platform You may use to access the Services, and You should review the policies and agreements of
          such Third Party Platforms carefully.
        </p>
      </li>
      <li>
        <div>Our Policy Concerning Children</div>
        <p>
          We recognize the privacy interests of children and We encourage parents and guardians to take an active role
          in their children's online activities and interests. We do not knowingly collect personal information from
          children under 13. Children under the age of 13 should not use or attempt to use our Websites or Services and
          if you are under 13, please do not attempt to use our Services or send any information about yourself to
          Rachna. If We learn that We have collected personal information from a child under 13, We will delete such
          information.
        </p>
        <p>
          Parents who believe that Rachna might have any information from or about a child under the age of 13 may
          submit a request to <a href="mailto:letstalk@rachna.io">letstalk@rachna.io</a> and request that the
          information be removed.
        </p>
      </li>
      <li>
        <div>The Type of Information We May Collect</div>
        <p>
          Rachna does not currently retain credit card numbers internally. We partner with payment providers such as
          PayPal and others. All direct payment gateways like Paypal, adhere to the standards set by PCI-DSS as managed
          by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American
          Express and Discover. PCI-DSS requirements help ensure the secure handling of credit card information.
        </p>
        <p>
          Rachna may collect different information from or about You depending on the manner in which You use the
          Services. The following examples are provided to help You better understand the information We may collect
          through Your use of the Services:
        </p>
        <p>
          Registration Information: In order to use certain features of the Services, such as purchasing or
          registering for a Course, You are required to register for an Account, and in that case, We will collect and
          store any registration You share with Us, such as Your date of birth, age, e-mail address, password and
          other information (or if You are enrolling in our Rachna for Business program, Your company's name, e-mail
          address as well as telephone and address information) that helps Us to confirm Your access to Your Account
          and understand more about who You are ("Registration Information").
        </p>
        <p>
          You hereby consent to Rachna providing Registration Information and/or Profile Information to Instructors
          as
          part of the Course Information when You enroll in a Course. Instructors may have other uses for Course
          Information. It is Your responsibility when You enroll in a Course to confirm what uses the Instructor will
          make of Your Profile and Registration Information. Rachna does not control these uses and is therefore not
          liable for the uses by Instructors.
        </p>
      </li>
      <li>
        <div>Payment Information</div>
        <p>
          If You make any purchases through our Services, We may collect certain information regarding
          Your purchase (such as Your name and zip code) as necessary to process Your order, and You will be required to
          provide certain payment and billing information directly to our payment processing partners, including but not
          limited to Your name, credit card information, billing address and zip code. We do not directly access, store
          or collect Your credit card information, and We will not use the payment information We collect except as
          needed to fulfill Your purchase and/or communicate with You regarding Your transaction.
        </p>
        <p>
          Communications, Support Requests, Potential Abuse: If You contact Us for assistance, or to report a problem,
          concern, potential abuse or other issues regarding the Services or Users, We may collect and store Your
          contact information, communication, and/or other information about You, including but not limited to Your
          name, e-mail address, location, operating system, IP address or activity, and We reserve the right to conduct
          further research and obtain further information as necessary. We will use the information to respond to You,
          research Your request/communication, all in accordance with the provisions of this Privacy Policy.
        </p>
      </li>
      <li>
        <div>Technical & Usage Information We Collect Through Automated Means</div>
        <p>
          When You access the Services, including browsing Our Startup catalog, Our servers record and We collect certain
          information by automated means. This information may include without limitation: (a) technical information
          about Your computer or Wireless Device, such as Your IP address, operating system type, device ID, browser,
          domain and other systems information as further explained in this Privacy Policy; and (b) usage statistics
          about Your interaction with the Services, including Courses accessed, pages visited, portions of the Services
          used, and other information regarding Your use of the Services.
        </p>
        <p>
          This technical information and usage data, some of which may be linked to Your ID Number, is collected through
          the use of server log files and tracking technologies, including: (i) cookies, which are small files that
          websites send to Your computer or Wireless Device to uniquely identify Your browser or mobile device or to
          store information in Your browser setting; and (ii) web beacons, which are small objects that allow Us to
          measure the actions of visitors using the Services. For more detailed information regarding how We use cookies
          and other technology, please review the additional information in this Privacy Policy under the Section
          entitled "Our Use of Cookies, Web Beacons, and Automated Information Collection."
        </p>
        <p>
          Our servers do not record or recognize names or e-mail addresses of the User, unless the User registers for an
          Account or provides such information to Us in some other way, such as via a transaction or Submitted Content.
          The technical information We obtain is collected, used, and stored as aggregated information ("Aggregate
          Information") which may be used and shared for a number of purposes, including to improve the quality of our
          Services; evaluate the effectiveness and popularity of certain Services; track User's movements and learning
          habits; analyze broad demographic trends; verify compliance with our product license agreements; and improve
          User experience; and as further set forth in this Privacy Policy. We also use non-aggregated data as described
          in this Policy. We may use and share with third parties Technical Information (defined in section 6 below) or
          Aggregate Information to show general demographic and preference information among Users. Our collection, use,
          and disclosure of anonymous and/or Aggregate Information is not subject to any of the restrictions in this
          Privacy Policy.
        </p>
      </li>
      <li>
        <div>Our Use of Cookies, and Automated Information Collection</div>
        <p>Like many websites and app providers, Rachna (and/or service providers acting on Our behalf, such as
          Google
          Analytics and/or our third party advertisers) uses server log files and automated data collection tools, such
          as cookies, tags, scripts and web beacons (collectively, "Data Collection Tools") when You access and use our
          Services. In some cases, We tie the information gathered by these means to our customers' personally
          identifiable information. These Data Collection Tools automatically track and collect certain technical
          information that Your browser sends when You use our Services such as Your IP addresses, browser types,
          browser language, referring and exit pages, URLs, platform type, the number of clicks, domain names, landing
          pages, clickstream data, pages viewed and the order of those pages, the amount of time spent on particular
          pages, and the date and time of activity using our Services, and other similar information (collectively
          "Technical Information"). In some cases, We will associate this Technical Information with Your ID Number for
          Our internal use. By using Our Services, You consent to Our use of cookies, web beacons and Data Collection
          Tools.
        </p>
        <p>
          We may use cookies for a variety of reasons, including to: (i) analyze the usage of our Services; (ii) provide
          a more personalized experience; (iII) allow You to more easily login to use our Services; (iv) help make Your
          use of Our Services more efficient and more valuable by providing You with a customized experience and
          recognizing You when You return.
        </p>
        <p>
          You can set Your web browser to warn You about attempts to place cookies on Your computer, limit the type of
          cookies You allow or refuse cookies altogether; however, You may not be able to use some or all of the
          features of the Services if You refuse/disable cookies.
        </p>
      </li>
      <li>
        <div>When and How We May Share/Disclose Your Information with Third Parties</div>
        <p>We will only share Your information (including personal information) with the following third parties or
          under the following circumstances or as otherwise described in this Privacy Policy:
        </p>
        <p>
          Safety, Security, Cooperation with Law Enforcement, & Compliance with Legal Obligations:
          We may disclose Your information to third parties, including Your personal information, if We, in our sole
          discretion, have a good faith belief that disclosure is: (1) permitted or required by law; (2) requested in
          connection with or relevant to a judicial, governmental or legal inquiry, investigation, order, or proceeding;
          (3) required or reasonably necessary pursuant to a valid subpoena, warrant or other legally valid inquiry or
          request; (4) reasonably necessary to enforce Our Terms of Use, this Privacy Policy, or any other legal
          agreements; (5) required to detect, prevent, or otherwise address fraud, abuse, misuse, potential violations
          of law (or rule/regulation), and/or security or technical issues; or (6) required or reasonably necessary to
          protect against imminent harm to the rights, property or safety of Rachna, Our Users, employees, any
          minors,
          members of the public and/or our Services. We may also disclose information about You to Our auditors or legal
          advisors in conjunction with accessing Our disclosure obligations and/or rights under this Policy.
        </p>
        <p>
          Third Party Business Partners, Service Providers, Contractors or Agents:
          We may share Your information with third party companies that perform services on Our behalf, including
          payment processing, order fulfillment, data analysis, marketing services, e-mail campaigns, hosting services,
          and customer service. While providing the services for Us, these companies may access Your personal
          information, and are required to use it solely as directed by Us for the purpose of Our requested service. We
          may also share Your information with third party companies that we partner with to provide certain services to
          You in connection with the Services, including but not limited to Estacio, Benesse or other similar partners.
        </p>
        <p>
          Business Transfers, Sales, Mergers, or Divestitures:
          In the event that Rachna undergoes a business transition, such as a merger, acquisition, corporate
          divestiture
          or dissolution (including bankruptcy), or a sale of all or a portion of its assets, We may share, disclose or
          transfer all of Your information, including personal information, to the successor organization in such
          transition.
        </p>
        <p>
          Promotions:
          We may share Your information in connection with any promotion You enter on or through the Services, as
          necessary to administer, market, sponsor, or fulfill the promotion or as required by applicable laws, rules or
          regulations (for example, to provide winners' lists or make required filings as appropriate) or in accordance
          with the applicable rules of the promotion/sweepstakes You enter.
        </p>
        <p>
          With Your Permission:
          Additionally, if You opt-in or otherwise agree to have Your information shared with a third party for
          marketing purposes, We will share Your information with the third party (or third parties) in which case the
          third party's use of Your information is subject to the third party's own privacy policy.
        </p>
        <p>
          Advertising of Third Party Products/Services:
          While we do not currently offer advertising on the Services, if we do offer advertising in the future, we may
          use and share with third party advertisers (and other third parties) certain Technical Information and/or
          Aggregate Information to show general demographic and preference information among our Users. We may also
          allow advertisers to collect Technical Information or Aggregate Information, which they may share with Us,
          through the use of tracking technologies like cookies and web beacons. The information collected may be used
          to offer You targeted ad-selection and delivery in order to personalize Your User experience by increasing the
          likelihood that advertisements for products and services You see will appeal to You, a practice known as
          behavioral advertising, and to undertake web analytics (i.e. to analyze traffic and other end User activity to
          improve Your experience). To learn more about behavioral advertising or to opt-out of this type of advertising
          for participating ad networks, You can visit the Network Advertising Initiative website. If You are located in
          the European Union and would like to opt- out, please visit, this page. Please note this does not opt You out
          of being served ads. You will continue to receive generic ads.
        </p>
        <p>
          Social Media Features:
          Our Web site may include social media features, such as the Facebook Like button. These features may collect
          Your IP address, which page You are visiting when using Our Services, and may set a cookie to enable the
          feature to function properly. Social media features are either hosted by a third party or hosted directly
          through the use of Our Services. Your interactions with these features are governed by the privacy policy of
          the company providing it.
        </p>
      </li>
      <li>
        <div>How Do We Keep Your Information Secure?</div>
        <p>Rachna takes commercially reasonable security measures to protect against unauthorized access to, or
          unauthorized alteration, disclosure or destruction of, sensitive data that You share and We collect and store.
          These security measures may include practices such as keeping Your sensitive data on a secured server behind a
          firewall, transmitting sensitive information (such as a credit card number) entered on Our Services using
          secure socket layer technology (SSL), internal reviews of Our data collection practices and platforms, as well
          as physical security measures to guard against unauthorized access to systems where We store Your information.
          Unfortunately, however, no system can be 100% secured, and We cannot guarantee that communications between You
          and Rachna, the Services, or any information provided to Us in connection with the information We collect
          through the Services will be free from unauthorized access by third parties. Unauthorized entry or use,
          hardware or software failure, and other factors may compromise the security of User information at any time.
          Your password is an important component of Our security system. As such, it is Your responsibility to protect
          it. Do not share Your password with any third parties. If Your password has been compromised for any reason,
          You should change it immediately and contact <a href="mailto:letstalk@rachna.io">support@Rachna.io</a>
          with any concerns.</p>
      </li>
      <li>
        <div>How to Delete Your Account and what Happens when Your Account is Terminated or Deleted</div>
        <p>
          Write us an email at <a href="mailto:letstalk@rachna.io">letstalk@rachna.io</a> to deactivate and/or
          delete your Rachna account.
        </p>
      </li>
      <li>
        <div>Modifications to this Privacy Policy</div>
        <p>
          From time to time, We may update this Privacy Policy to clarify our practices or to reflect new or different
          privacy practices, such as when We add new features, and Rachna reserves the right to modify and/or make
          changes to this Privacy Policy at any time. If We make any material change We will notify You using prominent
          means such as by email notice sent to the email address specified in Your Account or by posting a notice on
          Our Services. Other modifications will become effective on the day they are posted unless stated otherwise.
        </p>
        <p>
          Any notifications regarding changes that have been posted on Our site may be removed after 30 days. If You
          have not used the Services within 30 days, please consult the top of this Privacy Policy to determine when
          this Privacy Policy was last revised as there may be changes that have occurred since Your last visit.
        </p>
        <p>
          If You continue to use the Services, after the effective date of any change, then such access and/or use will
          be deemed an acceptance of and an agreement to follow and be bound by the Privacy Policy as changed. The
          revised Privacy Policy supersedes all previous Privacy Policies. For this reason, We encourage You to review
          this Privacy Policy any time You use the Services, and recommend that You print out a copy for Your records.
          Upon Our request, You agree to accept or sign a non-electronic version of this Privacy Policy and any other
          policies or agreements set forth or available through any Third Party Platform.
        </p>
      </li>
      <li>
        <div>Questions</div>
        <p>
          Please feel free to contact Us by submitting a request to <a href="mailto:letstalk@rachna.io">letstalk@rachna.io</a>
          with any questions, concerns,
          or disputes You may have regarding our Privacy Policy. Please put "Privacy Policy" in the subject line so Your
          message can be directed to the correct person(s).
        </p>
      </li>
    </ol>
  </div>
</div>
