// Variables
@import "../../scss/variables";

.page-privacy-policy {
  padding-bottom: $padding-one*2;
  padding-top: 60px;
  padding-left: 15px;
  padding-right: 15px;

  .privacy-content {

    h3 {
      text-align: center;
      font-size: 35px;
      font-weight: 100;
    }

    .update-notice {
      text-align: center;
    }

    p {
      font-size: 14px;
      text-align: justify;
    }

    a {
      color: $color-one;
    }
  }
}
