<div class="page-country">
  <mt-title-country></mt-title-country>

  <mt-all-startups-cards [status]="'PROMOTED'" [country]="country"></mt-all-startups-cards>
  <mt-all-startups-cards [status]="'PUBLISHED'" [country]="country" [today]="'true'"></mt-all-startups-cards>
  <mt-all-startups-cards [status]="'PUBLISHED'" [country]="country"></mt-all-startups-cards>

</div>
