// Variables
@import "../../scss/variables";

.page-countries {

  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;

  .cs-input {
    display: flex;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    outline: none;
  }

  .countries-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;;

    mt-btn-two {
      margin-bottom: 20px;
    }
  }

}
