<div class="page-countries">

  <input placeholder="Search" class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4" (keyup)="search($event.target.value)">

  <div class="countries-container">
    <mt-btn-two [bgRandom]="'true'" class="col-xs-12 col-md-auto col-lg-auto col-xl-auto"
                *ngFor="let country of countriesFiltered"
                [routerLink]="['/country',country.code]">
      {{country.name}}
    </mt-btn-two>
  </div>

</div>
