<div class="page-startup">
  <mt-spinner-one class="col-12 col-md-4 col-lg-3 col-xl-3 col-sm-6" lbl="description" *ngIf="loading"></mt-spinner-one>
  <mt-title-startup *ngIf="!loading && success" [title]="startup?.name"
                    [subTitle]="startup?.subTitle"></mt-title-startup>
  <mt-img-startup *ngIf="!loading && success" class="col col-sm-12 col-lg-6 col-md-8 col-xl-6 ml-auto mr-auto"
                  [imgSrc]="startup?.imgUrlLarge"></mt-img-startup>
  <mt-desc-startup *ngIf="!loading && success" class="col col-sm-12 col-lg-6 col-md-8 col-xl-6 ml-auto mr-auto"
                   [desc]="startup?.desc"></mt-desc-startup>
  <mt-social *ngIf="!loading && success" url="https://rachna.io/startups/{{id}}"
             [fb]="startup?.fbUrl" [twitter]="startup?.twitterUrl"
             [googlePlus]="startup?.googlePlusUrl" [instagram]="startup?.instagramUrl"
             [linkedIn]="startup?.linkedInUrl" class="col col-auto ml-auto mr-auto mb-4">
  </mt-social>
  <mt-btn-two *ngIf="!loading && success" class="col col-sm-8 col-lg-4 col-md-4 col-xl-4 ml-auto mr-auto"
              (click)="goToLink()">Visit Site
  </mt-btn-two>

  <div *ngIf="!loading && success && env"
       class="discuss-wrapper col col-sm-12 col-lg-6 col-md-8 col-xl-6 ml-auto mr-auto">
    <disqus [identifier]="startup.id"></disqus>
  </div>

  <mt-recommendations></mt-recommendations>
</div>
