<main class="main-content">
  <mt-navbar *ngIf="!authenticationService.isAuthenticated();"></mt-navbar>
  <mt-navbar-2 *ngIf="authenticationService.isAuthenticated();"></mt-navbar-2>
  <mt-sidebar *ngIf="!authenticationService.isAuthenticated();"></mt-sidebar>
  <mt-sidebar-2 *ngIf="authenticationService.isAuthenticated();"></mt-sidebar-2>
  <router-outlet></router-outlet>
  <mt-footer></mt-footer>
</main>
