// Variables
@import "../../scss/variables";

.spinner-two {

  @keyframes spinner {
    to {
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spinner {
    to {
      -webkit-transform: rotate(360deg);
    }
  }

  .label {
    text-align: center;
  }

  .spinner:before {
    content: 'Loading…';
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
  }

  .spinner:not(:required):before {
    content: '';
    border-radius: 50%;
    border: 1px solid #ccc;
    border-top-color: $color-one;
    animation: spinner .6s linear infinite;
    -webkit-animation: spinner .6s linear infinite;
  }

  .spinner {
    display: flex;
    justify-content: center;
  }

}
