// Variables
@import "../../scss/variables";

input {
  border-radius: 2em;
  outline: none;
  border: 1px $color-one solid;
  background-color: $color-body-bg;
  padding: 0 1em;
  color: #777;
  transition: all 0.2s;
  height: 40px;
}
