// Variables
@import "../../scss/variables";

:host {
  display: flex;
  background-color: #06273b;
}

.frm-newsletter {

  margin-top: 20px;

  .validation-error {
    background-color: rgba(255, 0, 0, 0.09);
  }

  .heading {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 100;
  }

  form {
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .form-controls {
    display: flex;
  }

  .antispam {
    display: none;
  }

  .cs-input {
    background-color: white;
    height: 40px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border: none;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
  }

  .cs-input:focus {
    outline: 0;
  }

  .btn {
    display: flex;
    height: 40px;
    color: #fff;
    background-color: $color-one;
    border: 0.125rem solid transparent;
    outline: none;
    box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    transition: box-shadow 0.3s ease;
    border-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    cursor: pointer;
    text-align: center;
    justify-content: center;
  }

  .btn:active, .btn:focus {
    border: 0.125rem solid transparent;
    outline: none;
  }

  .btn:hover {
    box-shadow: 1px 2px 4px 0px rgba(46, 61, 73, 0.2);
  }

  .success {
    color: white;
  }

  .danger {
    color: tomato;
  }

  .success, .danger {
    font-size: 12px;
    font-weight: 200;
  }

}
