<div class="frm-newsletter w-100">
  <div class="heading col-12">Subscribe to our Newsletter</div>
  <form class="row" (ngSubmit)="f.form.valid && submit(f);" #f="ngForm" novalidate>

    <div class="form-controls ml-auto mr-auto col-xl-6 col-lg-6 col-md-8 col-sm-12">

      <input type="email"
             class="cs-input col-8"
             [ngClass]="{ 'validation-error': f.submitted && !email.valid }"
             placeholder="Email" name="email" [(ngModel)]="model.email" #email="ngModel"
             pattern="^[a-z0-9!#$%&'*+\/=?^_`{|}~.-]+@[a-z0-9]([a-z0-9-]*[a-z0-9])?(\.[a-z0-9]([a-z0-9-]*[a-z0-9])?)*$" required>

      <input class="antispam" value="ddd" type="text" [(ngModel)]="model.test" name="test" #test="ngModel">

      <button class="btn col-4">
        <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
        <span *ngIf="loading" class="sr-only">Loading...</span>
        <span *ngIf="!loading">Sign Up</span>
      </button>
    </div>

    <label *ngIf="f.submitted && !loading && success"
           class="success w-100 text-center mt-3">
      Your request has been submitted.
    </label>

    <label *ngIf="f.submitted && !loading && !success && clientValidationDone"
           class="danger w-100 text-center mt-3">
      Some error occurred.
    </label>

  </form>
</div>
