<div class="all-startups-card">

  <div *ngIf="status == 'PROMOTED' && !country && count > 0" class="title">
    <h3>Trending Startups</h3>
  </div>

  <div *ngIf="status == 'PUBLISHED' && today && !country && count > 0" class="title">
    <h3>Today, {{todaysDate | date:'longDate'}}</h3>
  </div>

  <div *ngIf="status == 'PUBLISHED' && !today && !country && count > 0" class="title">
    <h3>More Awesome Startups</h3>
  </div>

  <div class="startup-container">
    <mt-startup-card class="col-12 col-md-4 col-lg-3 col-xl-3 col-sm-6"
                     *ngFor="let startup of startups" [startup]="startup"></mt-startup-card>
  </div>

  <mt-spinner-one class="col-12 col-md-4 col-lg-3 col-xl-3 col-sm-6" *ngIf="loading"
                  [lbl]="spinnerLbl"></mt-spinner-one>

  <mt-btn-two *ngIf="!loading && startups.length > 0 && startups.length < count"
              class="col-4 ml-auto mr-auto"
              (click)="getStartups()">Load More
  </mt-btn-two>

</div>
