.all-startups-card {

  .title{
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .startup-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;
  }

  mt-btn-two {
    margin-bottom: 40px;
  }

  @media all and (max-width: 767px) {
    .startup-container {
      justify-content: center;
    }
  }
}
