<nav class="sidebar-2 clr-nav-level-2">
  <section class="sidebar-header">
    <i class="fa fa-times" (click)="closeSidebar();"></i>
  </section>
  <section class="sidenav-content">
    <mt-btn-one (click)="goToHome()">Home</mt-btn-one>
    <mt-btn-one (click)="goToCountries()">Countries</mt-btn-one>
    <mt-btn-one (click)="goToSubmitStartup()">Submit Startup</mt-btn-one>

    <div class="version">v 1.0.0</div>

  </section>
</nav>
