/* The side navigation menu */
// Variables
@import "../../scss/variables";

:host {
  height: 100%; /* 100% Full-height */
  width: 100%; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1032; /* Stay on top */
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  border-right: none;
}

/* The navigation menu links */
:host a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  :host {
    padding-top: 15px;
  }
  :host a {
    font-size: 18px;
  }
}

.sidebar-2 {
  padding-bottom: 70px;
  border-right: none;
  width: 100%;

  .sidebar-header {
    display: flex;
    justify-content: center;
    color: $color-one;
    font-size: 40px;
    font-weight: bolder;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .fa-times {
      cursor: pointer;
    }
  }

  .sidenav-content {
    display: flex;
    flex-direction: column;

    mt-btn-one {
      margin-top: 20px;
      margin-bottom: 20px;
      align-self: center;
    }
  }

  hr {
    margin-top: 30px;
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .version {
    font-size: 11px;
    color: grey;
    padding-top: 10px;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
}
