// Variables
@import "../../scss/variables";

.page-submit-startup {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 100px;

  h1, h4 {
    text-align: center;
  }

  .desc, h4 {
    margin-top: 40px;
  }

  mt-frm-submit-startup {
    padding-top: 20px;
    padding-bottom: 5%;
  }

  .plans {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    flex-wrap: wrap;

    .plan-card {
      margin-left: 15px;
      margin-right: 15px;
      flex-direction: column;
      background-color: white;
      transition: box-shadow 0.3s ease, border 0.3s ease;
      box-shadow: rgba(46, 61, 73, 0.14902) 12px 15px 20px 0px;
      border-radius: 6px;
      padding: 0px;
      margin-bottom: 20px;

      .heading {
        background: $color-one;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        padding: 15px;
        color: white;
        font-weight: bold;
        text-align: center;
      }

      .price {
        margin-top: 15px;
      }

      h5 {
        text-align: center;
      }

      ul {
        list-style: none;
        padding: 10px;
        text-align: center;
      }
    }

    .plan-card:hover {
      box-shadow: 2px 4px 8px 0px rgba(46, 61, 73, 0.2);
    }
  }

}

