<div class="page-submit-startup">
  <h1>Reach thousands of early adopters. Maximize your reach.</h1>
  <div class="desc col-md-6 col-lg-6 col-xl-6 col-lg-6 ml-auto mr-auto">
    Rachna is India's fastest growing site focused specifically at early stage startups that have potential to
    become big. We’ve got an audience of thousands of early adopters and startup founders coming to the website.
  </div>

  <h4>Choose our free plan or upgrade for extra perks</h4>

  <div class="plans">

    <div class="plan-card col-12 col-md-4 col-lg-3 col-xl-3 col-sm-6">

      <div class="heading"><h5>Free</h5></div>
      <h5 class="price">$0</h5>
      <ul>
        <li>Upto 2 weeks waiting queue</li>
        <li>You will slide to teh back of the list when new startups are added</li>
        <li>0 tweets, 0 post on our facebook page</li>
        <li>Limited customer support</li>
      </ul>

    </div>

    <div class="plan-card col-12 col-md-4 col-lg-3 col-xl-3 col-sm-6">

      <div class="heading"><h5>Pro</h5></div>
      <h5 class="price">$49</h5>
      <ul>
        <li>No waiting queue</li>
        <li>Get featured for 1 Week on front page</li>
        <li>2 tweets, 2 post on our facebook page</li>
        <li>Priority customer support</li>
      </ul>

    </div>

    <div class="plan-card col-12 col-md-4 col-lg-3 col-xl-3 col-sm-6">

      <div class="heading"><h5>Business</h5></div>
      <h5 class="price">$149</h5>
      <ul>
        <li>No waiting queue</li>
        <li>Get featured for 1 Month on front page</li>
        <li>5 tweets, 5 post on our facebook page</li>
        <li>Priority customer support</li>
      </ul>

    </div>

  </div>

  <mt-frm-startup [mode]="'submit'"></mt-frm-startup>
</div>
