.total-subscribers {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 3px;
}

:host {
  display: flex;
  margin-top: 20px;
}
