<div class="sidebar-2">
  <div class="navbar-brand" routerLink="/">rachna</div>

  <ul>
    <li><a routerLink="/dashboard"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li><a [routerLink]="['startup', 'create']"><i class="fa fa-plus"></i> Create Startup</a></li>
    <li><a routerLink="/ad/create"><i class="fa fa-plus"></i> Create Ad</a></li>
  </ul>
</div>
