@import "../../scss/variables";

/* The side navigation menu */
.sidebar-2 {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: -250px;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  ul {
    list-style: none;
    padding-left: 0;
  }

  .navbar-brand {
    cursor: pointer;
    outline: none;
    color: $color-one;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    line-height: 48px;
    width: 100%;
    text-align: center;
    box-shadow: 1px 2px 4px 0px rgba(46, 61, 73, 0.2);
  }
}

/* The navigation menu links */
.sidebar-2 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidebar-2 a:hover, .offcanvas a:focus {
  color: #f1f1f1;
}
