<div class="img-startup w-100">
  <mt-spinner-one *ngIf="imgLoading" lbl="image" class="col-4 ml-auto mr-auto"></mt-spinner-one>
  <img class="w-100" src="{{imgSrc}}" (load)="onLoad()" [hidden]="imgLoading">
</div>
