// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,300,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,300,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,900italic,900,700italic,700,500italic,500,400italic');
// Variables
@import "app/scss/variables";
// Components
@import "app/components/preloader/preloader.component";

body {
  font-size: $font-size-one;
  color: grey;
  font-family: $font-family-one;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-one;
  background-color: $color-body-bg;
}

.preloader {
  margin-top: 200px;
}

b, strong {
  font-weight: bold;
}

.mt-card {
  background-color: white;
  box-shadow: 1px 2px 4px 0px rgba(46, 61, 73, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;
}
