<a href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}&amp;src=sdkpreparse" target="_blank">
  <i class="fa fa-facebook"></i>
</a>

<a href="https://twitter.com/intent/tweet?text={{shareUrl}}" target="_blank">
  <i class="fa fa-twitter"></i>
</a>

<a href="https://plus.google.com/share?url={{shareUrl}}" target="_blank">
  <i class="fa fa-google-plus"></i>
</a>
