<div class="frm-startup w-100">
  <h3>{{title}} Startup</h3>
  <form (ngSubmit)="f.form.valid && submit(f);" #f="ngForm" novalidate>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Startup Name</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !name.valid }"
             placeholder="Required" name="name" [(ngModel)]="model.name" #name="ngModel" required>
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Sub Title</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !subTitle.valid }"
             placeholder="Required" name="subTitle" [(ngModel)]="model.subTitle" #subTitle="ngModel"
             required>
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Website Url</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !websiteUrl.valid }"
             placeholder="Required" name="websiteUrl" [(ngModel)]="model.websiteUrl" #websiteUrl="ngModel"
             required>
    </div>

    <div *ngIf="mode != 'submit'" class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Img Url Small</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !imgUrlSmall.valid }"
             placeholder="Required" name="imgUrlSmall" [(ngModel)]="model.imgUrlSmall"
             #imgUrlSmall="ngModel"
             required>
    </div>

    <div *ngIf="mode != 'submit'" class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Img Url Large</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !imgUrlLarge.valid }"
             placeholder="Required" name="imgUrlLarge" [(ngModel)]="model.imgUrlLarge"
             #imgUrlLarge="ngModel"
             required>
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Facebook Url</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !fbUrl.valid }"
             placeholder="Optional" name="fbUrl" [(ngModel)]="model.fbUrl" #fbUrl="ngModel">
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Twitter Url</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !twitterUrl.valid }"
             placeholder="Optional" name="twitterUrl" [(ngModel)]="model.twitterUrl"
             #twitterUrl="ngModel">
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">LinkedIn Url</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !linkedInUrl.valid }"
             placeholder="Optional" name="linkedInUrl" [(ngModel)]="model.linkedInUrl"
             #linkedInUrl="ngModel">
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Instagram Url</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !instagramUrl.valid }"
             placeholder="Optional" name="instagramUrl" [(ngModel)]="model.instagramUrl"
             #instagramUrl="ngModel">
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Google Plus Url</label>
      <input type="text"
             class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
             [ngClass]="{ 'validation-error': f.submitted && !googlePlusUrl.valid }"
             placeholder="Optional" name="googlePlusUrl" [(ngModel)]="model.googlePlusUrl"
             #googlePlusUrl="ngModel">
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Plan</label>
      <select name="plan" #plan="ngModel" [(ngModel)]="model.plan"
              [ngClass]="{ 'validation-error': f.submitted && !plan.valid }"
              class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
              required>
        <option value="0" disabled selected>Choose Plan</option>
        <option *ngFor="let plan of plans" [value]="plan.value">
          {{plan.display}}
        </option>
      </select>
    </div>

    <div *ngIf="mode != 'submit'" class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Status</label>
      <select name="status" #status="ngModel" [(ngModel)]="model.status"
              [ngClass]="{ 'validation-error': f.submitted && !status.valid }"
              class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
              required>
        <option value="0" disabled selected>Choose Status</option>
        <option *ngFor="let status of statuses" [value]="status.value">
          {{status.display}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Country of Domicile</label>
      <select name="country" #country="ngModel" [(ngModel)]="model.country"
              [ngClass]="{ 'validation-error': f.submitted && !country.valid }"
              class="cs-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4"
              required>
        <option value="0" disabled selected>Choose Country</option>
        <option *ngFor="let country of countries" [value]="country.code">
          {{country.name}}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label class="lbl-input ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">Description</label>
      <div class="editor-wrapper ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <mt-editor [ngClass]="{ 'validation-error': f.submitted && !desc.valid }" name="desc" [(ngModel)]="model.desc"
                   #desc="ngModel" required>
        </mt-editor>
      </div>
    </div>

    <mt-btn-two class="ml-auto mr-auto col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
      <span *ngIf="loading" class="sr-only">Loading...</span>
      <span *ngIf="!loading">Submit</span>
    </mt-btn-two>

    <label *ngIf="!loading && success"
           class="lbl-alert success ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">
      Your request has been submitted.
    </label>

    <label *ngIf="!loading && !success && clientValidationDone"
           class="lbl-alert danger ml-auto mr-auto col-sm-12 col-md-4 col-lg-4 col-xl-4">
      Some error occurred.
    </label>

  </form>
</div>
