// Variables
@import "../../scss/variables";

.table {
  display: flex;
  flex-direction: column;
  border-radius: 3px;

  .cs-input {
    border-top: 1px solid rgba(46, 61, 73, 0.2);
    border-left: 1px solid rgba(46, 61, 73, 0.2);
    border-bottom: 1px solid rgba(46, 61, 73, 0.2);
    outline: none;
    display: flex;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .form-controls {
    display: flex;
    margin-top: 10px;
  }

  .title {
    padding: 10px;
    background-color: #06273b;
    color: white;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .content {

    border-bottom: 1px solid rgba(0, 0, 0, .12);

    .th {
      .td:not(:last-child) {
        border-right: 1px solid #ccc;
      }

      .td {
        .search {
          position: absolute;
          padding: 20px;
          border: 1px solid #ccc;
          background-color: white;

          .btn-close {
            position: absolute;
            top: 2px;
            right: 2px;
            font-size: 16px;
          }
        }
      }

      border-bottom: 1px solid #ccc;
    }

    .th, .tr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 10px;
    }

    .td {
      flex: 1;
      display: flex;
      justify-content: space-around;

      i {
        cursor: pointer;
      }
    }
  }

  footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;

    i {
      cursor: pointer;
    }
  }
}

:host {
  display: flex;
  margin-top: 20px;
}
