<div class="table mt-card">
  <div class="title" *ngIf="config?.title.enabled"><h3>{{config?.title.title}}</h3></div>
  <div class="content">

    <div class="th">
      <div class="td" *ngFor="let column of config?.columns">
        <h5>{{column?.title}}</h5>
        <i *ngIf="column?.format == 'prop'" class="material-icons" (click)="toggleSearchBox()">filter_list</i>

        <form *ngIf="column?.format == 'prop'" [style.display]="searchFormDisplay" class="search"
              (ngSubmit)="f.form.valid && search(column.id);" #f="ngForm"
              novalidate>

          <i class="material-icons btn-close" (click)="closeSearch()">clear</i>

          <div>

            <input type="text"
                   class="cs-input"
                   [ngClass]="{ 'validation-error': f.submitted && !query.valid }"
                   placeholder="Search" name="query" [(ngModel)]="model.query" #query="ngModel">

            <button>
              Search
            </button>
          </div>

        </form>
      </div>
    </div>

    <mt-spinner-one *ngIf="loading" lbl="data"></mt-spinner-one>

    <div *ngIf="!loading">
      <div class="tr" *ngFor="let row of data; let i = index" [attr.data-index]="i">
        <ng-container *ngFor="let column of config?.columns">
          <div class="td" *ngIf="column.format == 'prop'">{{row[column.id]}}</div>
          <div class="td" *ngIf="column.format == 'edit'" (click)="edit($event, i)"><i class="material-icons">create</i>
          </div>
          <div class="td" *ngIf="column.format == 'delete'" (click)="delete($event, i)"><i
            class="material-icons">delete</i>
          </div>
        </ng-container>
      </div>
    </div>

  </div>
  <footer *ngIf="config?.pagination.enabled">
    <div>{{offset+1}} to {{offset+data.length}} of {{count}}</div>
    <i class="material-icons" (click)="previous($event)">keyboard_arrow_left</i>&nbsp;&nbsp;<i class="material-icons"
                                                                                               (click)="next($event)">keyboard_arrow_right</i>
  </footer>
</div>
